.TodoItem {
  text-align: center;
  outline: none;
  font-size: 16px;
  color: #fff;
  padding: 15px;
  margin: 15px;
  position: relative;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  box-sizing: border-box;
  border-radius: 30px;
}

.TodoItem:hover {
  background-color: rgba(250, 235, 215, 0.216);
}

.TodoItem li {
  padding: 0px;
  margin: 0px;
}

.TodoItem i {
  position: absolute;
  right: 25px;
  transition: all 0.3s;
  cursor: pointer;
}

.TodoItem .edit {
  position: absolute;
  right: 75px;
}

.TodoItem .edit:hover {
  color: rgb(212, 212, 74);
}

.TodoItem i:hover {
  color: red;
}
