.TodoSubmit {
  display: inline;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.fa-plus-circle {
  transition: all 0.3s;
  color: #fff;
  cursor: pointer;
}

.fa-plus-circle:hover {
  color: green;
}
